body{
    font-family: 'Poppins', sans-serif;
    background-color: #cbcbcb;
    color: #333;
    margin: 0px;
}
header{
    background-color: #2f3640;
    color: #fff;
    text-align: center;
    padding: 3px;
    position: sticky;
    top: 0;
}
img{
    width:330px;
    height:300px
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}
nav a:hover {
    color: blue;
}
article h1{
    text-align: center;
    color: black;
}
hr {
    border: 1px solid black;
    margin: 40px 0;
}
#about{
    text-align: center;
}
p{
    font-size: small;
    text-align: center;
}
#project{
    text-align: center;
}
#project ul li{
    background-color:grey;
    list-style-type:none;
    width: 600px;
    margin-left:30%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 50px 0;
}
.tech{
    text-align: center;
}
table {
    width: 40%;        
    border-collapse: collapse;  
    margin-top: 20px;
    margin-left: 30%;
    font-size: 1em;
    background-color: #ffffff;
    border-radius: 8px;
}
th {
    background-color: #2f3640;
    color: grey;
    padding: 12px;
}
td {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: #dedcdc;
    transition: background-color 0.3s;
}
#contact{
    text-align: center;
    background-color: grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    margin-left: 30%;
}
#contact input{
    width: 300px;
    padding: 15px 0px 15px 15px;
    border-radius: 10px;
    font-size: 15px;
}
.sub{
    padding: 17px 60px;
    font-size: 16px;
    background-color: #2f3640;
    border: none;
    color: rgb(229, 227, 227);
    border-radius: 10px;
}
.sub:hover{
    background-color:#454545 ;
    cursor: pointer;
}
footer a{
    text-decoration: none;
    background-color:#2f3640;
    border-radius: 10px;
    padding: 15px 50px;
    color: grey;
    margin-left: 85%;
}
footer a:hover{
    background-color: #454445;

}